<%= form_for @task, html: { class: "form-horizontal center"} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved!</h4>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label "Task type", class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= f.select :tasktype, [["Firmware test", "FW"],
                                                    ["Hardware Test", "HW"],
                                                    ["Other", "Other"]],
                                                    {}, {class: "chosen-select" } %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :label, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.collection_select :label, Redminer.all, :redmine_project_name,
                                                      :redmine_project_name,
                                                      {prompt: "Select project..."},
                                                      {class: "chosen-select"} %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label "Note", class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= f.text_field :text, class: "form-control" %></div>
  </div>

  <div class="form-group field">
    <%= f.label :assignee, class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= f.collection_select :assignee, User.activated, :id, :last_name,
                  {prompt: "Select assignee"}, {class: "chosen-select"} %></div>
  </div>

  <div class="form-group field">
    <%= f.label :starttime, class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= f.date_field :starttime, class: "form-control" %></div>
  </div>

  <div class="form-group field">
    <%= f.label :endtime, class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= f.date_field :endtime, class: "form-control" %><br></div>
  </div>

  <div class="form-group field">
    <%= f.label :done, class: "col-md-2 control-label"  %>
    <div class="col-md-10"><%= f.check_box :done, class: "form-control" %><br></div>
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-center">
    <div class="btn-group">
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
