<h1>Listing Tasks</h1>

<table class="table">
  <thead>
    <tr class="active">
      <th class="text-center">Type</th>
      <th class="text-center">Label</th>
      <th class="text-center">Text</th>
      <th class="text-center">Author</th>
      <th class="text-center">Assignee</th>
      <th class="text-center">Start Date</th>
      <th class="text-center">End Date</th>
      <th class="text-center" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tasktype %></td>
        <td><%= task.label %></td>
        <td><%= task.text %></td>
        <td><%= task.author_from_id_to_name %></td>
        <td><%= task.assignee_from_id_to_name %></td>
        <td><%= task.starttime.strftime('%Y-%m-%d') %></td>
        <td><%= task.endtime.strftime('%Y-%m-%d') %></td>
        <td><%= link_to 'Show', task, :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, :class => "btn btn-primary" %>
