<p>
  <strong>Type:</strong>
  <%= @task.tasktype %>
</p>

<p>
  <strong>Label:</strong>
  <%= @task.label %>
</p>

<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @task.starttime.strftime('%Y-%m-%d') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @task.endtime.strftime('%Y-%m-%d') %>
</p>

<div class="col-md-12 text-center">
  <div class = "btn-group btn-group-justified">
    <div class="btn-group"><%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-primary" %></div>
    <div class="btn-group"><%= link_to 'Back', tasks_path, :class => "btn btn-primary" %></div>
  </div>
</div>
