<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr class="active">
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th class = "text-center">Team</th>
      <th class = "text-center">Admin</th>
      <th class = "text-center">Active</th>
      <th colspan="2" class = "text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td class = "text-center"><%= user.role %> </td>
          <td class = "text-center">
            <% if user.admin %>
            <span class="label label-danger">Admin</span>
            <% else %>
            <span class="label label-default">User</span>
            <% end %>
          </td>
          <td class = "text-center">
            <% if user.activated %>
            <span class="label label-success">Yes</span>
            <% else %>
            <span class="label label-warning">No</span>
            <% end %>
          </td>
          <td class = "text-center"><%= link_to 'Show', user, :class => "btn btn-primary btn-xs" %></td>
          <td class = "text-center"><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-primary btn-xs" %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-primary" %>
