<!DOCTYPE html>
<html>
<head>
  <!-- jQuery -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <!-- BEGIN TimelineJS -->
      <script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
      <script>
          $(document).ready(function() {
              createStoryJS({
                  type:       'timeline',
                  width:      '100%',
                  height:     '600',
                  source:     '<%= @tasks %>',
                  embed_id:   'my-timeline'
              });
          });
      </script>
      <!-- END TimelineJS -->
  <title>Prestigio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "col-sm-12">
<div class="page-header">
  <h1>Prestigio Task Planning System</h1>
  <div class="well well-sm text-center">
    <% if user_signed_in? %>
      Logged as <b><%= current_user.first_name + " " + current_user.last_name %></b>,
      <%= link_to('click to logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>
</div>
<% if flash[:notice] %>
<div class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:alert] %></div>
<% end %>
<%= yield %>
</div>

</body>
</html>
